
.header{
    background-color: bisque;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: solid 1px brown;
    position: fixed;
    top: 0%;
    width: 100%;

}
 .menu{
    display: flex;
 }

 ul li{
 
    margin: 5px;
 }

 .logo{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif ;
 }

 section{
    background-color: saddlebrown;
 }

 h2{
    margin: 20px;
 }

 coluna p{margin: 20px;}


.main{
    display: flex;
    justify-content: center;
    

}




container{
    display: flex;
    flex-flow: row wrap;
    background-color: wheat;
    width: 800px;
   
    justify-content: center;
 
    
}


coluna{
   
    display: flex;
    width:250px;
    flex-flow: column nowrap;
    margin: 10px;
    background-color: saddlebrown;
    border-radius: 10px;
    
}

img{
    max-width: 100%;
    border-radius: 10px;
}




















@media (max-width:425px){

    .logo{
        display: block;
        width: 100%;
        text-align: center;

    }

    .menu{
        display: block;
        margin-top:  20px;
    }

    .nav{
        width: 100%;
        text-align: center;
    }


}




@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap')


