
.header{
    background-color: bisque;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: solid 1px brown;
    position: fixed;
    top: 0%;
    width: 100%;

}
 .menu{
    display: flex;
 }

 ul li{
 
    margin: 5px;
 }

 .logo{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif ;
 }

 section{
    background-color: saddlebrown;
    padding: 5px;
 }

 coluna h2{
    margin: 20px;
 }

 coluna p{margin: 20px;}


.main{
    display: flex;
    justify-content: center;
    
    

}

coluna a{
    padding: 5px;
    color: bisque;
    margin-top: auto;
}


a{
    color:black

}


container{
    display: flex;
    flex-flow: row wrap;
    background-color: wheat;
    width: 800px;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 
    
}


coluna{
   
    display: flex;
    width:250px;
    flex-flow: column wrap;
    margin: 10px;
   
    background-color: saddlebrown;
    border-radius: 10px;
    
}



img{
    max-width: 100%;
    border-radius: 10px;
    
}




















@media (max-width:425px){

    .logo{
        display: block;
        width: 100%;
        text-align: center;

    }

    .menu{
        display: block;
        margin-top:  20px;
    }

    .nav{
        width: 100%;
        text-align: center;
    }
    section{
    margin-top: 89px;
    text-align: center;
    }
 

}

footer{
    background-color: saddlebrown;
    height: 20em;
    display: flex;
    justify-content: center;
    width: 100%;

}


.caixa-de-contato{
    display: flex;
    background-color: aliceblue;
    flex-flow: column wrap;
    text-align: center;
    width: 35%;
   border-radius: 10px 10px 0px 0px;
  
}

a{
    margin: 10px;
}
h2{
    margin: 20px 5px;
}



@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap')


